<div class="container-fluid banner ">

</div>

<div class="col-8 justify-content-center ">
  <img src="./images/Braverabbits.png" class="img-fluid logo" alt="..."><img>
</div>
<div class="container row justify-content-center loginpage">
  <div class="col-md-5 login" >
    <p class="titleform">Login</p>
    <div class="col-md-6"></div>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login"  >Email:</label>
        <input class="form-input formfeild" type="text" id="email-login" placeholder="email@gmail.com" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input formfeild" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn buttons" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="col-md-5 signup ">
    <p class="titleform">Signup</p>
    <form class="form signup-form ">
      <div class="form-group">
        <label for="name-signup">User Name:</label>
        <input class="form-input formfeild" type="text" id="name-signup" placeholder="email123" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input formfeild" type="text" id="email-signup" placeholder="email@gmail.com" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input formfeild" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn  buttons " type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>