header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}



.review-styling{
background-color:rgb(233, 204, 204);
padding: 10px;
margin:10px;
}

/* CSS from Madelene
.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.app-title {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: black;
  padding-left: 10px;
}
.app-title:hover {
  text-decoration: none;
  color: #366F9B;
}

.book-title {
  padding-top: 20px;
  font-weight: bolder;
  text-align: center;
}
.subtitle {
  font-style: italic;
  font-weight: bold;
}
.book-cover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.purchase-link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.purchase-link:hover {
  text-decoration: underline;
  color: black;
}
.user-reviews {
  padding-top: 80px;
}
/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {
  .book-cover {
    width: 20%;
    height: 20%;
  }
} */ 